/**
 * @file
 * Subtheme specific CSS.
 * <>
 */

@import "colors.css";

/*main colors,  use var(--color1); */
:root {
  --color1: #007EA3;
  --color2: #8ecb80; 
  --color3: #F86060;
  --color_a: #064c7e;
  --color4: transparent;
  --color5: #494c52;  
  --color6: #8ecb8008; /*owl carousel all blocks*/
  --color1-rgb:81,134,198;
  --color2-rgb: 142,203,129%; 
  --color3-rgb: 244 121 58;

}

body {
	overflow-x: hidden;
	
}

a.feed-icon {
    display: none;
}

a:not(.enchor):hover,
a:not(.enchor).is-active {
   /* color:var(--color3) !important;*/
}

.path-frontpage #content {
    /*margin: 0 !important;*/
}

main#content {
   
}

#navbar-top {
    background-color: transparent !important;
}

.site-name-slogan {
    /*color: var(--color1);*/
    font-size: 1.15rem;
    text-align: justify;
    font-weight: bold;
    margin-left: 1%;
    text-shadow: 2px 2px #ffffff;
}


.logomenu img {
    width:  50%;
}
 
header#header {
    min-height: 400px;
    height: 100vh;
    position: relative;
}

header#header a,
header#header span.nolink{
    color:#fff;
}

a.navbar-brand {
    font-weight: 300;
    font-size: 1.05rem;
	z-index: 1;
}

/*main menu*/
#navbar-main {
    background-color: transparent;
    padding: 0 0 0 6%;
    position: absolute;
    top: 0;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 12px 8px #0527391c;
}

#navbar-main .navbar-collapse{
     background-color: transparent !important;
     padding: 0 .5rem ;
}

#navbar-main .navbar-collapse.show {
    background-color: #ffffff !important;
    padding: 0 0.5rem;
    margin: 4rem 0;
   
}

#navbar-main li:hover a {
    /*color: var(--color1); ; */
} 

/*rendre visible l'icon hamburger*/
.navbar-toggler { 
    background-color: #ED6A11;
    position: absolute;
    top: 0;
    right: 5%;
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after{
   /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;*/
   content: "\f410"; 
   font-family: "Font Awesome 5 Free"; 
   font-size: 2rem;
   
}

#block-navigationprincipale {
    padding: 0 1rem 0 3rem !important;
}

#block-navigationprincipale .menu span.nolink,
#block-navigationprincipale .menu a {
    font-size: 1.1rem;
	color:#fff;
	font-weight: 300;
}

#block-navigationprincipale ul.sf-menu span.nolink {
    padding: 1em 2.2em;
}

#block-navigationprincipale ul.sf-menu li{
   color: #fff;    
}

#block-navigationprincipale ul.sf-menu > li{
    margin:0 .3rem;  
}

#block-navigationprincipale ul.sf-menu >li > a.is-active,
#block-navigationprincipale ul.sf-menu > li:hover > a{
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: var(--color3) !important;
	font-weight: 500;
	text-decoration-thickness: 0.2rem;
}

#block-navigationprincipale ul.sf-menu li ul{
    width: 17rem !important;
	background-color: var(--color1);
}

#block-navigationprincipale ul.sf-menu li ul li a{
    font-size: 1.05rem !important;
	border-left: solid transparent .15rem;
}

#block-navigationprincipale ul.sf-menu li ul li:hover a{
   /* color: initial !important;*/
   border-left: solid var(--color3) .15rem;
   font-weight: 400;
   text-decoration: none;
}

ul.sf-menu .sf-sub-indicator::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700; 
    content: "\f0dd";
}

ul.sf-menu .sf-sub-indicator {
    height: auto;
    line-height: normal;
}
/**
* Member espace link menu
*/
#block-panecom-bstrp-account-menu {
    text-align: center;
	z-index: 1;
}

#block-panecom-bstrp-account-menu .nav-link {
    width: 15rem;
    background-color: var(--color3);
    border-radius: 25px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

#block-panecom-bstrp-account-menu .nav-link span{
    padding: 0 .25rem;
	font-size: 1.05rem;
}

#block-panecom-bstrp-account-menu .nav-link .fa-user-circle {
    font-size: 1.65rem;
    position: relative;
    top: 0.25rem;
}

/*selecteur langue*/
#block-languagedropdownswitcher {
    margin: 1rem 3.5rem 0 2rem;
	z-index:1;
}

#block-languagedropdownswitcher select {
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
	color: #fff;
    text-transform: uppercase;
	font-weight:300;
	cursor: pointer;
}

#block-languagedropdownswitcher option {
    background-color: var(--color1);
}

#block-languagedropdownswitcher select:focus {
    border-color: transparent;
}

#block-languagedropdownswitcher::before {
    color: #fff !important;
    content: "\f0ac";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: var(--krowd-theme-color-second);
    font-size: 1.5rem;
    position: relative;
	top: .6rem;
}