/**
 * @file
 * Subtheme specific CSS.
 * <>
 */

@import "colors.css";

/*main colors,  use var(--color1); */
:root {
  --color1: #5186c6;
  --color2: #8ecb80; 
  --color3: #f4793a;
  --color_a: #064c7e;
  --color4: transparent;
  --color5: #494c52;  
  --color6: #8ecb8008; /*owl carousel all blocks*/
  --color1-rgb:81,134,198;
  --color2-rgb: 142,203,128; 
  --color3-rgb: 244,121,58;

}

body {
	overflow-x: hidden;
}

a.feed-icon {
    display: none;
}

a:not(enchor):hover,
a:not(enchor).is-active {
    color:var(--color3);
}

.path-frontpage #content {
    margin: 0 !important;
}

main#content {
    padding: 1rem;
    margin: 0rem 2% 1rem 2%;
}

/*slideshow*/
.carousel-indicators li.active {
    background-color: var(--color3) !important;
}

#block-views-block-slideshow-block-1 {
    position: absolute;
    top: 0;
	z-index:-1;
}

/***** TOP HEADER ********** */

#navbar-top li.nav-item {
    vertical-align: middle;
}

nav#block-infosutiles {
    margin-right: 4rem;
}

nav#block-infosutiles span {
    color: #fff;
    text-transform: initial;
    font-size: .9rem;
	font-weight: 300;
	padding-top: 0.65rem;
}

nav#block-infosutiles i.fa {
    color: var(--color2);
	margin-right: .15rem;    
}

header#header.sticky nav#block-infosutiles i.fa {
    color: var(--color1);
}

/*login*/
a.nav-link.nav-link--fr-user-login{
    color: #fff;
}
/*rendre visible l'icon hamburger*/
.navbar-toggler { 
    background-color: var(--color2);
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after{
   /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;*/
   content: "\f410"; 
   font-family: "Font Awesome 5 Free"; 
   font-size: 2rem; 
}

/*corriger léger décalage qui entraine l'apparition de la barre horizontale en bas de page*/
section.row.region.region-top-header {
    margin-right: 0px;
}

/*color and decorations for links switcherlanguage*/

div#block-selecteurdelangue {
    margin-right: 3rem;
}

div#block-selecteurdelangue .links.nav a {
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
}

div#block-selecteurdelangue .nav-link {
    padding-left: .35rem;
	padding-right: .35rem;
	font-weight: 300;
}

#block-selecteurdelangue .links-inline span:first-child::before {
	color: #fff !important;
    content: "\f57c";
    font-family: "Font Awesome 5 Free";
	font-weight:600;
    margin-right: .65rem;
    color: var(--krowd-theme-color-second);
    font-size: 1rem;
}

#block-selecteurdelangue span:hover a,
#block-selecteurdelangue span.is-active a {
    color: #fff !important;
    border-bottom: 3px solid var(--color3);
	font-weight: 400;
}

nav#block-panecom-bstrp-account-menu > div a {
    color: #fff;
    font-size: .9rem;
    font-weight: 300;
}

nav#block-panecom-bstrp-account-menu > div > a::before {
	color: #fff ;
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    margin-right: .5rem;
    color: var(--krowd-theme-color-second);
    font-size: 1rem;
}

/*zone actualités + sidebar right*/
#block-zoneactualitessidebarrightfrontpage {
	margin: 1.75rem 0;
}

#block-zoneactualitessidebarrightfrontpage > h2 {
    border-bottom: 2px solid lightgrey;
	/*text-transform: uppercase;*/
	width: 100%;
	color: var(--color1);
}

.block-views-blockslideshow-block-1 h2, 
.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.block-views-blockslideshow-block-1 h2::after,
.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa h2::after {
    content: "";
    display: block;
    height: 2.1px;
    background-color: var(--color3);
    width: 50px;
}

.block-views-blockslideshow-block-1 h2{
	margin-left:-15px;
	margin-right:-15px;
}

.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
	padding: 0 1rem;
}

.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa .field--name-body {
    line-height: 2.1;
    background-color: var(--color1);
    min-height: 488px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 8px;
}

.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa .field--name-body div {
    line-height: 1.85;
    color: #fff;
    font-size: 1.35rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 2rem 1rem 2rem;
    font-weight: 300;
}

.carousel-caption h3 a {
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: #ffffff !important;
}

.block-block-content25b3aa3d-43f7-40ed-b2ba-527b5477beaa .field--name-body div strong {
    color: var(--color2);
	font-weight: 600;
}

.view-id-slideshow .carousel {
    z-index: 0;
}

.block-views-blockcontent-recent-block-1 {
    
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;*/
}

.block-views-blockcontent-recent-block-1 {
    padding: 0 2.5rem;
}

.view-content-recent {
    margin: 0 1rem;
}

/*Evenement phare*/
#block-evenementphare {
    margin: 2rem 0;
    position: relative;
	padding:.1rem;
	overflow: hidden;
}



#block-evenementphare ._none.aos-init.aos-animate {
    height: 300px !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
}

.block-field-blockblock-contentevenement-pharebody .content {
    height: 300px;
    text-align: center;
}

#block-evenementphare .field--name-body {
	line-height: 2;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#block-evenementphare .field--name-body h2{
	font-size: 3rem !important;
	color: #fff;
}

#block-evenementphare .field--name-body h2{
	font-size: 3rem !important;
	color: #fff;
}

#block-evenementphare .field--name-body h2{
	font-size: 3rem !important;
	color: #fff;
}

#block-evenementphare ._none.aos-init.aos-animate {
	position: relative;
}

#block-evenementphare ._none.aos-init.aos-animate::before {
    content: '';
    height: 302px;
    width: 100%;
    background-color: var(--color3);
    /* z-index: 1; */
    display: block;
    opacity: .9;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#block-evenementphare .field--name-body.field--type-text-with-summary {
    color: #fff;
}

/*Nous suivre : social network*/
#block-noussuivre {
    /*position: relative;
	right: 35%;*/
}

#block-noussuivre h2{
    font-size: .9rem;
    display: inline-block;
	font-weight: 300;
	color: #fff;
	/*display: none;*/
}

#block-noussuivre ul,
#block-noussuivre li{
    display: inline-block;
}

#block-noussuivre li a i {
	color: #fff;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    font-size: 1.35rem !important;
}

#block-noussuivre .nav-link {
    padding: 0.5rem 0.25rem !important;
}

i.fa.fa-youtube {
	color: #c4302b;
}

/*addtoany duplicated*/
span.addtoany_list{
		display: none;
}

#block-addtoanybuttons {
	margin: 4rem 1rem;  
}

#block-addtoanybuttons h2{
	font-size: 1rem;  
}


#block-addtoanybuttons .addtoany_list{
		display: block;
}
	
.path-node .node__content .addtoany_list:last-child {
		display: none;
}
	
/*contact form*/
#contact-message-contactez-nous-form {
    width: 40%;
    margin: 0 auto;
}

#contact-message-contactez-nous-form #edit-actions {
    text-align: right;
}

#block-panecom-bstrp-page-title {
    text-align: center;
	margin-top: 1rem;
}

/*A cacher car en page d'accueil un titre de page est par défaut affiché par boostrap_bario*/
.path-frontpage div#block-panecom-bstrp-page-title {
    display: none;
}

/* réseaux sociaux liens*/
ul[block="block-resosocio"] .fa {
    font-size: 1.2rem;
}

.fa-youtube-play {
    color:  #d94747;
}

.fa-twitter-square {
    color: rgb(29, 161, 242);
}

.fa-facebook-square {
    color: #4267B2;
}

header#header {
    height: 200px;
    position: relative;
	border-bottom: 2.2px solid var(--color4);
	
}

header#header nav#navbar-main {
    z-index: 1 !important;
    margin-top: 42px;
    background-color: #ffffff !important;
	padding-top: 12px;	
	/*box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px !important;*/
	box-shadow: rgb(208 208 208 / 50%) 0px 0px 12px;
}

header#header:not(sticky) nav#navbar-main {
	border-bottom:none;
}

header#header.sticky {
    height: 100px;
    position: relative;
	z-index: 16;
}

header#header.sticky nav#navbar-main {
    z-index: 1 !important;
    margin-top: 38px !important;
    height: 60px;
	padding-top: 11px;
	border-bottom: 2.2px solid var(--color4);
}

header#header.sticky ul.sf-menu li a, .nav-link {
    /*font-size: .95rem;*/
}

header#header.sticky nav#navbar-top {
    background-color: var(--color2) !important;
}

header#header.sticky #block-panecom-bstrp-account-menu span{
    color: #ffffff !important;
}

header#header.sticky span:not(.is-active) a.language-link{
   color: #ffffff !important;
}

/*
header#header.sticky span.is-active a.language-link{
    border-bottom-color: #ffffff !important;
}*/

header#header.sticky img.img-fluid.d-inline-block.align-top {
    max-height: 50px;
}

.navbar-brand .align-top {
    vertical-align: middle !important;
}

nav#navbar-top {
   padding:0;
   /*box-shadow: 0px 1px 4px #37373740;*/
   background-color: var(--color1) !important;
}

/***** MAIN MENU ********** */
ul#superfish-main {
    float: right;
    margin-right: 1%;
}

ul.sf-menu.sf-horizontal.sf-shadow ul, ul.sf-menu.sf-vertical.sf-shadow ul, ul.sf-menu.sf-navbar.sf-shadow ul ul {
    -webkit-box-shadow: 0px 0px 1px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1px rgb(0 0 0 / 15%);
}

/*flêche légérement coupé vers le bas*/
ul.sf-menu .sf-sub-indicator {
    height: 14.5px;
}

/*Accueil link légérement decalé vers le bas à cause du icon fa-home*/
ul.sf-menu > li:first-child {
    max-height: 50px;
}
ul.sf-menu > li:first-child > a:first-child  {
    position: relative;
    top: -0.42rem;
}
/*Accueil icon fa-home trop collé avec le texte Home*/
ul.sf-menu > li:first-child > a .fa-home,
ul.sf-menu > li:first-child > a .fa-home  {
   margin: 0 .2rem;
   font-size: 1.5rem;
}

/*decaler vers la gauche un peu le chevron dépliant du menu*/
ul.sf-menu .sf-sub-indicator:after {
    left: -2px !important;
	bottom: -1px !important;
}
ul.sf-menu .sf-with-ul {
    padding-right: 2.1em;
}
ul.sf-menu.menu, ul.sf-menu.menu ul, ul.sf-menu.menu li {
    background-color: #ffffff;
}

ul.sf-menu ul li:hover {
    /*background-color: var(--color3);*/
}

ul.sf-menu ul li:hover a {
    /*color: var(--color3);*/
}

#block-navigationprincipale ul.sf-menu li.active-trail span.nolink,
li.active-trail > a,
ul.sf-menu > li:hover > a,
ul.sf-menu li a:hover,
.nav-link:hover {
    color: var(--color3) !important;
	text-decoration: none !important;
}

#block-navigationprincipale ul.sf-menu span.nolink {
    color: #0a3255;
}

/*tous les liens du top header et du menu en majuscule*/
ul.sf-menu li a, .nav-link{
    font-size: 1rem;
    /*text-transform: uppercase;*/
	font-weight: 400;
}

#block-navigationprincipale ul.sf-menu li a, #block-navigationprincipale .nav-link, 
#block-navigationprincipale .nolink{
    font-size: 1.05rem !important;
    text-transform: uppercase !important;
	font-weight: 400 !important;
}

#block-navigationprincipale ul.sf-menu span.nolink {
    padding: 1em 2.2em;
}

#block-navigationprincipale ul.sf-menu li ul li{
    border-left: 5px solid;
}

#block-navigationprincipale ul.sf-menu li ul li:hover{
    border-left: 5px solid var(--color3) !important;
}

#block-navigationprincipale ul.sf-menu li ul li a{
    font-size: .95rem !important;
	font-weight: 300;
}

#block-navigationprincipale ul.sf-menu li ul li:hover a{
   /* color: initial !important;*/
}

ul.sf-menu .sf-sub-indicator::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0dd";
}

ul.sf-menu .sf-sub-indicator {
    overflow: initial;
    position: absolute;
    right: 1.1em;
	top: 40%;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
}

#block-zoneactualitessidebarrightfrontpage .layout > div:first-child {
	/*padding-left: 1.5rem;
	padding-right: 0rem;*/
	margin-left: -7.5px !important;
}

#views-bootstrap-slideshow-block-1 img {
    border-radius: 15px 50px 30px;
}

/*notification widget*/

.dropdown-menu.notify-drop .drop-content li a { 
    padding-left: 5px !important;
}

.dropdown-menu.notify-drop .drop-content li a {
    color: #808080 !important;
    font-weight: 300;
}
.dropdown-menu.notify-drop .drop-content li.unread a{
  color: #222222 !important;
}  

.notify-drop li.unread {
    border-left: 4px solid var(--color3);
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: var(--color3);
}

.dropdown-menu.notify-drop .drop-content li.unread a {
    color: #222222 !important;
    font-weight: 400;
}


#block-notificationwidgetblock {
	margin: 0 1.75rem;
}

#block-notificationwidgetblock .navbar-nav {
    position: relative;
    top: 20px;
}

/*effet overlay au lieu de décaler et allonger tout la région en cad de d'affichage de la liste des notifs*/
#block-notificationwidgetblock .navbar-nav .dropdown-menu {
    position: absolute;
    left: -145px;
}
#block-notificationwidgetblock .dropdown-menu.notify-drop {
    min-width: 350px;
}
/*cache exceptionnellement le bouton contextuel d'édition de bloc pour l'admin car gênant**/
#block-notificationwidgetblock div[data-once="contextual-render"] {
	display: none;
}

/*display a bell icon for notifications block*/
div#block-notificationwidgetblock::before {
    position: absolute;
    top: 6px;
    left: -22.5px;
    content: "\f0f3";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-size: 1.2rem;
    margin: 0 5px;
    font-weight: bold;
    color: var(--color3);
	
}

.notification-icon:after {
    background: var(--color1);
}

/*change some aspects for each item in the list of notifications*/
.notify-drop .drop-content li .fa,
.notify-drop li.unread a {
    font-weight: 300;
}
.notify-drop .drop-content li .fa {
    color: var(--color1);
}

/*background image accueil + text welcome*/
div#block-backgroundimagefrontpagecontentblock {
    height: 650px;
}

.bgimage {
    margin: 0 -15px;
    z-index: -2;
	height: 650px;
}

.path-frontpage .bgimage::before {
    position: absolute;
    display: block;
    background-color: #5186c6;
    content: "";
    top: 0;
    opacity: .85;
    height: 650px;
	left: 0;
	right: 0;	
}

/*when logged we have spaces left/right for the overlay background image in frontpage*/
.path-frontpage.user-logged-in .bgimage::before {
	left:-15px;
	right: -15px;	
}

/*message bienvenue*/
#block-backgroundimagefrontpagecontentblock .content .field--name-body.field--type-text-with-summary {
    font-size: 1.75rem;
    padding: 2.15rem;
    max-width: 70%;
    color: #ffffff;
    font-weight: 300 !important;
    text-align: center;
	margin-top:2rem;	
}

#block-backgroundimagefrontpagecontentblock .content strong {
    font-weight: 600 !important;
	text-shadow: .5px .5px lightgrey;
}

#block-backgroundimagefrontpagecontentblock .content p:nth-child(1) strong {
    color: var(--color3);
}

#block-backgroundimagefrontpagecontentblock .content p:nth-child(2) strong:nth-child(1) {
    color: var(--color2);
}

#block-backgroundimagefrontpagecontentblock .content p:nth-child(2) strong:nth-child(2) {
    color: var(--color3);
}


/*page title (exemple for a node)*/
span.field.field--name-title {
    /*color: var(--color3);*/
}

/*les organisations*/
.view-organisations {
    margin: 2rem auto;
}

.owl-page.active span,
.owl-buttons div:hover{
	background: var(--color3) !important;
}

.view-organisations .owl-item > div{
    padding: 0 100px;
    text-align: center;
	border-right: 1px solid #cdd1d8;
}

.view-organisations .owl-wrapper {
    background-color: var(--color6);
    padding: 2rem;
}

.view-organisations .views-field-title {
	margin: 0.5rem auto;
}

.view-organisations .views-field-title a {
    color: var(--color1);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.view-organisations .views-field-body {
    text-align: justify;
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
}

.view-organisations .more-link {
    text-align: right;
    margin-right: 5%;
}

.view-organisations .more-link a{
    color: var(--color2);
    font-size: 1.6rem;
    font-weight: 600;
	text-decoration: underline;
}

li.sf-depth-1 ul{
	margin-top: 1.15rem !important;
}

.block-views-blockles-organisations-block-1 {
    margin: 4rem 0 2rem 0;
}

.block-views-blockles-organisations-block-1 .owl-item {
    padding: 0 0.5rem;
}

.block-views-blockles-organisations-block-1 h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.block-views-blockles-organisations-block-1 h2:after {
    content: "";
    display: block;
    height: 1px;
    width: 10rem;
    background-color: var(--color3);
    margin: 0.5rem auto;
}


/*liste organisations*/
.view-organisations.view-id-organisations.view-display-id-page_1 {
   /* margin: 0 5%;*/
    text-align: center;
}
.view-organisations .views-view-grid.horizontal .row {
	margin: 3.5rem auto;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.title {
	margin: 0.5rem auto;
	padding: 0 5rem;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.title a {
    color: var(--color1);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.descriptif{
    text-align: justify;
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
	padding: 0 5rem;
}

.view-les-organisations {
	margin: .5rem 2%;
	text-align: center;
}

.path-frontpage .view-les-organisations {
	margin: .5rem 10%;
	text-align: center;
}


.page-view-les-organisations .title {
    text-transform: uppercase;
    font-weight: 700;
}

.view-les-organisations .page-link {
    border-radius: 0.5rem !important; 
	border: none !important;
	font-weight: 300 !important;
	margin:0 .12rem;
}

.view-les-organisations .page-item.active .page-link {
    background-color: #eecef !important;
	color: var(--color3) !important;
	font-weight: 500 !important;
}

.view-les-organisations li:hover .page-link{
    color: var(--color3) !important;
}

.view-les-organisations .page-link a{  
    border: none !important;
}

.view-les-organisations nav {
	display: inline-block;
}

.view-les-organisations .wrapping {
    box-shadow: rgb(208 208 208 / 75%) 0px 0px 15px;
    height: 425px;
    /* position: relative; */
    margin: 0.9rem 0;
}

.path-frontpage .view-les-organisations .wrapping {
    margin: 1.5rem .5rem;
}

.view-les-organisations .views-field-field-org-logo {
    position: relative;
    height: 195px;
    /* margin: 1.15rem 0; */
    background-color: #fff;
    /* padding: 1rem 0; */
}

.view-les-organisations .views-field-field-org-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-width: 130px;
    max-height: 130px;
}

.view-les-organisations .views-field-title {
    padding: 0.6rem 1rem;
    height: 95px;
    background-color: var(--color1);
    overflow: hidden;
	position: relative;
}

.page-view-les-organisations main#content {
    margin-left: 15px;
}

.view-les-organisations .views-field-title .field-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.view-les-organisations .views-field-title  a {
    font-size: 1.16rem;
    /*font-weight: 500; */
    text-transform: uppercase;
	color: #fff;
}

.view-les-organisations .views-field-title  a:hover {
	color: var(--color3);
	text-decoration: none !important;
}

.view-les-organisations .views-field-body {
    padding: 0.5rem 0.5rem;
    font-weight: 300;
    color: var(--color1);
    background-color: #fff;
}


/*les projets*/
.page-view-projets .view-projets {
	margin: .5rem 2%;
	text-align: center;
}

.path-frontpage .page-view-projets .view-projets {
	margin: .5rem 10%;
	text-align: center;
}

.page-view-projets .title {
    text-transform: uppercase;
    font-weight: 700;
}

.page-view-projets .view-projets .page-link {
    border-radius: 0.5rem !important; 
	border: none !important;
	font-weight: 300 !important;
	margin:0 .12rem;
}

.page-view-projets .view-projets .page-item.active .page-link {
    background-color: #eecef !important;
	color: var(--color3) !important;
	font-weight: 500 !important;
}

.page-view-projets .view-projets li:hover .page-link{
    color: var(--color3) !important;
}

.page-view-projets .view-projets .page-link a{  
    border: none !important;
}

.page-view-projets .view-projets nav {
	display: inline-block;
}

.page-view-projets .view-projets .wrapping {
    box-shadow: rgb(208 208 208 / 75%) 0px 0px 15px;
    height: 512px;
    /* position: relative; */
    margin: 0.9rem 0;
}

.views-field-field-projet-photos {
    max-height: 280px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 1rem;
}

.path-frontpage .page-view-projets .view-projets .wrapping {
    margin: 1.5rem .5rem;
}

.sidebar .block-views-blockprojets-block-1 .item-list ul li {
    margin: 1rem 0;
    padding: 0.5em 0.15em;
    background-color: #fdfdfd;
	box-shadow: rgb(208 208 208 / 50%) 0px 3px 2px 0px ;
    border-right: 5px solid var(--color2);
}

.page-view-projets .view-projets .views-field-title {
    padding: 0.6rem 1rem;
    height: 75px;
    background-color: var(--color1);
    overflow: hidden;
	position: relative;
}

.sidebar .block-views-blockprojets-block-1 {
   border: none !important;
   padding: 0 !important;
}

.sidebar .block-views-blockprojets-block-1 .row {
   margin-right: 0;
}

.page-view-les-organisations .sidebar.col-md-3,
.node--type-projet .sidebar.col-md-3
{
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
}

.page-view-les-organisations div#main > .row,
.node--type-projet div#main > .row {
    margin-right: 0;
}

.sidebar .block-views-blockprojets-block-1 h2 {
    margin: 2rem 0 0.5em;
    background-color: var(--color1);
    font-size: 1.4rem;
	text-transform: uppercase;
    line-height: 1.2;
    margin-left: -15px;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
}

.sidebar .views-field-body {
    font-size: .9rem;
	color: #4a5255;
	font-weight: 300;
	display: none;
}

.sidebar .block-views-blockprojets-block-1 img{
	border-radius: 5px 20px 10px !important;
}

.sidebar .wrapping {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem 0rem 0.5rem;
    font-size: 1.05rem;
    min-height: 5.35rem;
}

.page-view-projets .view-projets .views-field-title .field-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.page-view-projets .view-projets .views-field-title  a {
    font-size: 1.16rem;
    /*font-weight: 500; */
    text-transform: uppercase;
	color: #fff;
}

.page-view-projets .view-projets .views-field-title  a:hover {
	color: var(--color3);
	text-decoration: none !important;
}

.views-field.views-field-field-projet-category {
    padding-top: 1rem;
}

.page-view-projets .view-projets .views-field-body {
    padding: .75rem 1rem;
    font-weight: 300;
    color: var(--color1);
    background-color: #fff;
}

.owl-dot.active span{
	background: var(--color3) !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-bottom: .75rem;
}

.more-link a {
    display: inline-block;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: var(--color1);
    text-decoration: none;
	border:1px solid var(--color1);
	font-size:1.25rem;
}

.more-link:hover a {
    background-color: #fff;
	border:1px solid var(--color3);
    padding: 0.5rem 1rem;
    color: var(--color3);
}

.node--type-projet .field--name-field-projet-category .field__item::before {
    content: "#";
    margin-right: 0.05rem;
    color: var(--color3);
	display: inline-block;
}

.node--type-projet .field--type-entity-reference {
    margin: 0 0 .35em !important;
}

.node--type-projet .field--name-field-projet-category .field__item {
    margin-right: 0.5rem;
    color: #6c4545;
    background-color: #d1d1d1;
    padding: 0.15rem 0.5rem;
}

.field--type-entity-reference.field__items div {
    display: inline;
}

.node--type-projet .field__label{
    background-color: var(--color3);
    color: #fff !important;
    padding: 0 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-left: 1px solid var(--color1);
	font-size: 1.15rem !important;
	font-weight:300;
}

.node--type-projet .field--name-field-projet-photos{
    margin-top: 1rem;
}

.node--type-projet .imagefield_slideshow-wrapper div img{
    min-height: 150px;
	border-radius: 15px 50px 30px !important;
	box-shadow: rgb(0 0 0 / 40%) 0px 0px 8px;
}

.node--type-projet .field--name-field-projet-category.field--label-inline .field__items {
    display: inline-block;
}

.node--type-projet .imagefield_slideshow-wrapper {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
}

.node--type-projet .field__item{
	position: relative;
	margin-top: .5rem;
}

.node--type-projet .field__item a.myButton::before,
.node--type-projet .field__item a.photoswipe::before {
    content: "\f00e";
    font-family: "Font Awesome 5 Free";
	font-weight:600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #d7d7d7;
    cursor: pointer;
}

.node--type-projet .field__item a.myButton::before {
    content: "\f04b";
    font-size: 3rem;
}

.node--type-projet .field__item:focus a.myButton,
.node--type-projet .field__item:focus a.photoswipe {
    color:var(--color3) !important;
}

.node--type-projet .media-library-item__name {
    display: none;
}

.node--type-projet .field--name-body {
    font-family: "Roboto";
	font-size: 1.15rem;
}

.node--type-projet .field--name-field-projet-site-web{
    margin-top: 1rem;
}

.node--type-projet .field--name-field-projet-localisation{
    clear: both;
}

.node--type-projet .field__label {
    color: black;
}

.node--type-projet .field__item a img {
    border: 3px solid #fff;
}


/*block header bandeau image content type*/
#block-backgroundheaderorganisationmembre >  .content > div,
#block-backgroundheaderorganisationsmembres >  .content > div,
.path-node .bandeau_header_w {
    position: relative;
    height: 350px;
    left: 0;
    right: 0px;
    margin: 0 -15px;
	margin-bottom: 50px;
}

#block-menumediatheque-2 ul,
#block-navigationprincipale-2 ul,
#block-menuorganisationmembre ul {
	display: block;
	position: fixed;
}

#sidebar_second {
    order: 14;
}

.sidebar #block-menumediatheque-2.block,
.sidebar #block-navigationprincipale-2.block,
.sidebar #block-menuorganisationmembre.block {
    height: 16rem;
    position: fixed;
	top: 40%;
    width: 16rem !important;
    padding-left: 4rem;	
}


.sidebar #block-menumediatheque-2.block{
    height: 8rem;
}

.sidebar #block-navigationprincipale-2.block {
    height: 13.2rem;
}

.sidebar #block-menumediatheque-2.block,
.sidebar #block-navigationprincipale-2.block {
	/*background-color: var(--color2*/
	border:1px solid var(--color2);
}

.sidebar #block-menumediatheque-2.block li a,
.sidebar #block-navigationprincipale-2.block li a{
	color: var(--color1);
	font-weight: 300 !important;
	font-size: 1.1rem;
}

.sidebar #block-menumediatheque-2.block li a.active,
.sidebar #block-navigationprincipale-2.block li a.active {
    color: var(--color3);
    font-weight: 500 !important;
    font-size: 1.15rem;
}

.sidebar #block-menuorganisationmembre.block a{
    font-size: 1.15rem;
	border: none;
	color: #797878;
}

.sidebar #block-menuorganisationmembre.block a.focused,
.sidebar #block-menuorganisationmembre.block a:active,
.sidebar #block-menuorganisationmembre.block a:focus{
	background-color: var(--color3) !important;	
	color: #fff !important;

}

.node--type-organisation-membre a.enchor h2 {
    background-color: var(--color3);
    color: #fff;
    padding: 0 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-left: 1px solid var(--color1);
	font-size: 1.25rem !important;
	font-weight:300;
}

.node--type-organisation-membre .field--name-field-org-photos{
    margin-top: 1rem;
}

.node--type-organisation-membre .field--name-field-org-image-hero img,
.node--type-organisation-membre img.image-style-media-library {
    min-height: 150px;
	border-radius: 15px 50px 30px !important;
	box-shadow: rgb(0 0 0 / 40%) 0px 0px 8px;
}

.node--type-organisation-membre .field__item{
	position: relative;
	margin-top: .5rem;
}

.node--type-organisation-membre .field__item a.myButton::before,
.node--type-organisation-membre .field__item a.photoswipe::before {
    content: "\f00e";
    font-family: "Font Awesome 5 Free";
	font-weight:600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #d7d7d7;
    cursor: pointer;
}

.node--type-organisation-membre .field__item a.myButton::before {
    content: "\f04b";
    font-size: 3rem;
}

.node--type-organisation-membre .field__item:focus a.myButton,
.node--type-organisation-membre .field__item:focus a.photoswipe {
    color:var(--color3) !important;
}

.node--type-organisation-membre .media-library-item__name {
    display: none;
}

.node--type-organisation-membre .field--name-body {
    font-family: "Roboto";
	font-size: 1.15rem;
}

.node--type-organisation-membre .field--name-field-org-site-web{
    margin-top: 1rem;
}

.node--type-organisation-membre .field__label {
    color: black;
}

.node--type-organisation-membre .field__item a img {
    border: 3px solid #fff;
}

.field__item:hover a::before {
    color: var(--color3) !important;
}

/*cacher le titre pour la vue (list organisations*/
/*#block-backgroundheaderorganisationsmembres h1.title{
   display: none;
}*/

#block-backgroundheaderorganisationmembre .content .layout,
#block-backgroundheaderorganisationsmembres .content .layout,
.path-node .bandeau_header_r {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	line-height: 3;
}

#block-backgroundheaderorganisationmembre .content .layout .breadcrumb,
#block-backgroundheaderorganisationsmembres .content .layout .breadcrumb,
.path-node .bandeau_header_r .breadcrumb {
    background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

#block-backgroundheaderorganisationmembre .content .layout .field.field--name-field-titre-du-bloc,
#block-backgroundheaderorganisationsmembres .content .layout .field.field--name-field-titre-du-bloc,
.path-node .bandeau_header_r .field.field--name-field-titre-du-bloc {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 900;
    background-color: #78727240;
    padding: 1rem 3rem;
    /* height: 100px; */
    line-height: 1.2;
    color: white;
}

.view-organisations img,
.views-field-field-organisation-logo img {
    height: 400px !important; /*solution temporaire*/
}

#block-backgroundheaderorganisationmembre .content .layout .breadcrumb-item,
#block-backgroundheaderorganisationmembre .content .layout .breadcrumb-item a,
#block-backgroundheaderorganisationsmembres .content .layout .breadcrumb-item,
#block-backgroundheaderorganisationsmembres .content .layout .breadcrumb-item a,
.path-node .bandeau_header_r .breadcrumb-item,
.path-node .bandeau_header_r .breadcrumb-item a{
    color: #ffffff;
    font-size: 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--color1);
    content: ">";
}

.block-system-breadcrumb-block{
	/*text-align: center;*/
}

.breadcrumb {
    background-color: transparent; 
}

.block-system-breadcrumb-block nav{
	display: inline-block;
}

/*page de base*/
.node--type-page .node .field--type-image {
    margin: 0 1.5em 0 0;
}

.node--type-page .node .field--name-body {
    padding-right:2rem;
	padding-left:.5rem;
	line-height: 1.85;
    font-weight: 300;
}


/*.node--type-page h1.title {
    background-color: var(--color1);
    color: #fff;
	margin-bottom: 2.5rem;
	padding: .35rem 0;
}*/

/*******   FOOTER  *****/
/*div#block-panecom-bstrp-powered {
    margin-left: 15px;
}*/
div#block-copyright {
    margin: 0 auto;
}

/*organisation membre*/
.field--name-field-org-photos,
.field--name-field-org-videos {
    width: 100%;
    display: inline-block;
}

.field--name-field-org-videos .field__item {
    display: inline-block;
   
}

/*mediatheque*/
.node--type-page .photoswipe-gallery .field__item, 
.photoswipe-gallery article .field--name-field-media-image, 
.videos-gallery article .field--name-thumbnail {
    position: relative;
}

.view-page .field__items .field__item:first-child::before {
    content: "";
}

.videos-gallery  article,
.photoswipe-gallery article {
	box-shadow: rgb(0 0 0 / 65%) 0px 3px 8px;
}

.node--type-page .photoswipe-gallery .field__item:first-child a.photoswipe::before, 
.videos-gallery  article .field__item:first-child a.myButton::before,
.photoswipe-gallery article .field__item:first-child a.photoswipe::before {
    content: "\f055";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #eaf8ed;
    cursor: pointer;
}

.videos-gallery  article .field__item:first-child a.myButton::before {
    content: "\f04b";
}

.videos-gallery a.myButton img {
    width: 100%;
}

.videos-gallery .field__items .field__item:first-child a.myButton::before,
.videos-gallery .field__items .field__item:first-child img,
.photoswipe-gallery .field__items .field__item:first-child a.photoswipe::before,
.photoswipe-gallery .field__items .field__item:first-child img {
    display: block !important;
}

.videos-gallery .field__items .field__item a.myButton::before,
.videos-gallery .field__items .field__item img,
.photoswipe-gallery .field__items .field__item a.photoswipe::before,
.photoswipe-gallery .field__items .field__item img {
    display: none;
}

.photoswipe-gallery .view-content.row > div,
.videos-gallery .view-content.row > div{
   width: 100%;	
}

.path-mediatheque .photoswipe-gallery a img {
    min-width: 100%;
	max-height: 220px;
}

.videos-gallery  .field--type-image img,
.photoswipe-gallery .field--type-image img{
    margin: 0
}

.videos-gallery .grid.views-view-grid > .row > div,
.photoswipe-gallery .grid.views-view-grid > .row > div {
    margin: 0 auto;
}

.path-mediatheque .media-library-item__name {
    font-size: .8rem;
    height: 2rem;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: var(--color1);
    padding: 0.5rem;
    color: #fff;
}
.path-mediatheque .form-item-combine {
    display: inline-block;
    margin: 0.5rem;
}

h1.title {
    background-color: var(--color2);
    color: #fff;
	margin-bottom: 2.5rem;
	padding: .35rem 0;
	text-transform: uppercase;
    font-weight: 700;
}

.path-mediatheque .form-item-combine input {
    text-align: center;
    border-radius: 45px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    padding: 8px 2rem;
}

.path-mediatheque .views-exposed-form {
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.path-mediatheque .form-actions {
    position: relative;
    top: -1rem;
}

.media-library-item__name {
    text-align: center;
    margin-bottom: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.view-gallerie-images,
.view-gallerie-videos {
    text-align: center;
}

.view-gallerie-images .view-filters,
.view-gallerie-videos .view-filters {
    display: inline-block;
}

.path-mediatheque .modal__overlay {
    position: fixed;
    top: -5rem;
}

/* ############################## */
/* ####### Breakpoints media queries  */
/* ############################## */
/* Extra extra small devices (portrait phones, less than 320px: galaxy fold)*/
@media (max-width: 319.98px) {
	.path-mediatheque .form-actions {
		margin: 2rem auto;
		position: initial;
	}
	
	div#block-selecteurdelangue {
		margin-right: 0;
    } 
	
	nav#block-infosutiles {
		display: none;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	nav#navbar-top {
	   padding: 0.5rem 0rem 0.5rem 2rem;
	}

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 575.98px) {
	
	.path-mediatheque .form-actions {
		margin: 2rem auto;
		position: initial;
	}
	
	div#block-selecteurdelangue {
		margin-right: 0;
    } 
	
	nav#block-infosutiles {
		display: none;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	nav#navbar-top {
	   padding: 0.5rem 0rem 0.5rem 2rem;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.path-mediatheque .form-actions {
		margin: 2rem auto;
		position: initial;
	}
	
	nav#block-infosutiles {
		display: none;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	nav#navbar-top {
	   padding: 0.5rem 0rem 0.5rem 2rem;
	}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
	div#block-selecteurdelangue {
		margin-right: 0;
    } 

    nav#block-infosutiles {
		display: none;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	nav#navbar-top {
	   padding: 0.5rem 0rem 0.5rem 2rem;
	}
	
   ul.sf-menu li a{
		padding: 1rem;
   }
   
   #block-infosutiles .nav-link {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
	
	nav#block-infosutiles span {
		font-size: .85rem;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	div#block-selecteurdelangue .links.nav a {
		font-size: .75rem;
	}

}

/*pour les "moyens et grands" écrans*/
@media (min-width: 992px) and (max-width: 1199.98px){

   ul.sf-menu li a{
		padding: 1rem;
   }
   
   #block-infosutiles .nav-link {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
	
	nav#block-infosutiles span {
		font-size: .85rem;
	}
	
	#block-noussuivre h2 {
		display: none;
	}
	
	div#block-selecteurdelangue .links.nav a {
		font-size: .75rem;
	}
	
}

/*pour les trés "grands" écrans uniquement*/
@media (min-width: 1200px) and (max-width: 1399.98px){
	
   ul.sf-menu li a{
		padding: 1rem;
   }
   
   #block-infosutiles .nav-link {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
	
	nav#block-infosutiles span {
		font-size: .85rem;
	}
	
	
	
	div#block-selecteurdelangue .links.nav a {
		font-size: .75rem;
	}


}

/*pour les plus "grands" écrans uniquement*/
@media (min-width: 1400px) and (max-width: 1599.98px){

}

@media (min-width: 992px) {
	
}

/*pour les plus "grands" écrans uniquement*/
@media (min-width: 1400px) {
	
	/***** MAIN MENU ********** */
	ul#superfish-main {
		float: right;
		margin-right: 4%;
	}
	
	#block-navigationprincipale ul.sf-menu li a, #block-navigationprincipale .nav-link {
		font-size: 1.12rem;
		text-transform: uppercase;
		font-weight: 400;
	}

}


