/**
 * @file
 * Subtheme specific CSS.
 * <>
 */

@import "colors.css";

/*main colors,  use var(--color1); */
:root {
  --color1: #007EA3;
  --color2: #8ecb80; 
  --color3: #F86060;
  --color_a: #064c7e;
  --color4: #F6F4F0;
  --color5: #252525;  
  --color6: #2C2C2C; /*owl carousel all blocks*/
  --color7: #F8F8F8; /*owl carousel all blocks*/
  --color8: #EEEEEE;
  --color9: #ACACAC;
  --color10: #353535;
  --color11: #F6F4F0;
  --color12: #F3F3F3;
  --color1-rgb:81,134,198;
  --color2-rgb: 142,203,129%; 
  --color3-rgb: 244 121 58;

}

body {
	overflow-x: hidden;
}

a.feed-icon {
    display: none;
}

a:not(.enchor):hover,
a:not(.enchor).is-active {
   /* color:var(--color3) !important;*/
}

.path-frontpage #content {
    /*margin: 0 !important;*/
}

main#content {
   
}

#navbar-top {
    background-color: transparent !important;
}

.site-name-slogan {
    /*color: var(--color1);*/
    font-size: 1.15rem;
    text-align: justify;
    font-weight: bold;
    margin-left: 1%;
    text-shadow: 2px 2px #ffffff;
}

.logomenu img {
    width:  50%;
}
 
.path-frontpage header#header {
	min-height: 500px;
	height: 90vh;
	position: relative;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
			clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95%);
}

.user-logged-in #main {
    margin-top: 100px;
}

body.toolbar-horizontal.toolbar-tray-open #navbar-top.fixed-top, body.toolbar-horizontal.toolbar-tray-open #navbar-main.fixed-top {
    top: 0;
}

header#header ul:not(.contextual-links) a,
header#header ul:not(.contextual-links) span.nolink{
    color:#fff;
	font-family: 'Roboto Condensed';
	font-weight: normal;
}

a.navbar-brand {
    font-weight: 300;
    font-size: 1.05rem;
	z-index: 1;
	color: #fff !important;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}

button.navbar-toggler {
    display: none;
}

header#header #CollapsingNavbar.collapse:not(.show) {
    display: block;
}

.responsive-menu-toggle {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -6px;
}

.responsive-menu-toggle-icon span.label {
    display: block;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    top: 5px;
    left: 38px;
    color: #fff;
}

.view nav {
    max-width: 250px;
    margin: 1.1rem auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination a[rel="prev"] span, .pagination a[rel="next"] span {
    color: var(--color10) !important;
}

.pagination li.page-item {
    border: 1px solid #2c2c2c15;
}

.pagination .page-link{
	border: none;
	font-size: .92rem;
	font-weight: 300;
	color: var(--color3);
}

.pagination li.active .page-link{
	border: none;
	background-color: var(--color3);
    border-color: var(--color3);
}

/*main menu*/
#navbar-main {
    background-color: transparent;
    padding: 0 0 0 3%;
    position: absolute;
    top: 0;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 12px 8px #0527391c;
	min-height: 90px;
}

#navbar-main .navbar-collapse {
    background-color: transparent !important;
    padding: 0;
}

#navbar-main .navbar-collapse.show {
    background-color: #ffffff !important;
    padding: 0 0.5rem;
    margin: 4rem 0;
   
}

#navbar-main li:hover a {
    /*color: var(--color1); ; */
} 

#block-navigationprincipale {
	display: none;	
}

#block-navigationprincipale ul.sf-menu >li > a,
#block-navigationprincipale ul.sf-menu > li > a,
#block-navigationprincipale ul.sf-menu > li > span.nolink{
	font-weight: 300;
	font-size: 1.15rem;
}

/** special Organisation breadcrumb**/
#block-breadcrumbs {
	display: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    content: " > ";
}

/**
* Member espace link menu
*/
#block-panecom-bstrp-account-menu {
    text-align: center;
	z-index: 1;
}

#block-panecom-bstrp-account-menu a{
    color: #fff !important;
}

#block-panecom-bstrp-account-menu .nav-link {
    width: auto;
    background-color: var(--color3);
    border-radius: 25px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

#block-panecom-bstrp-account-menu .nav-link span{
    padding: 0 .25rem;
	font-size: 1.05rem;
	display: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}

#block-panecom-bstrp-account-menu .nav-link .fa-user-circle {
    font-size: 1.65rem;
    position: relative;
    top: 0.25rem;
}

/*selecteur langue*/
#block-languagedropdownswitcher {
    margin: 2rem 4rem 0 2rem;
    z-index: 1;
}

#block-languagedropdownswitcher select {
    padding: 0;
    font-size: .95rem;
    background-color: transparent;
    border: 1px solid transparent;
	color: #fff;
    text-transform: uppercase;
	font-weight:300;
	cursor: pointer;
}

#block-languagedropdownswitcher option {
    background-color: var(--color1);
}

#block-languagedropdownswitcher select:focus {
    border-color: transparent;
}

#block-languagedropdownswitcher::before {
    color: #fff !important;
    content: "\f0ac";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: var(--krowd-theme-color-second);
    font-size: 1.5rem;
    position: relative;
	top: .5rem;
}

/*A propos text*/
#block-apropos {
    position: absolute;
    top: 0;
    left: 10%;
    margin-top: 125px;
    max-width: 80%;
    color: #fff;
    font-size: 1rem;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
}

#block-apropos h1 {
    font-size: 1.35rem;
	margin-bottom: 1rem;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: normal;
}

/*recherche searchbox*/
.block-search-form-block {
    position: absolute;
    top: 0;
    margin-top: 365px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    padding-left: 22px;
}

.block-search-form-block input {
	width: 250px;
    display: inline-block;
    height: 55px;
    border-radius: 45px;
	padding-left: 1rem;
}

.block-search-form-block ul:not(.contextual-links) a{
    color: #000 !important;
    font-size: .75rem;
    font-style: italic;
    font-weight: 300;
}

.ui-widget-content.ui-autocomplete ul li a{
	
}

header #search-block-form {
    padding: 2px 0;
}

.search-block-form form fieldset::after {
    background-color: var(--color3);
    width: 45px;
    height: 45px;
    content: "";
    display: inline-block;
    border-radius: 45px;
    position: absolute;
    top: 0.5rem;
    right: .8rem;
}

.search-block-form form::after {
    color: #fff !important;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: var(--krowd-theme-color-second);
    font-size: 1.67rem;
    position: absolute;
    top: 0.75rem;
    display: inline-block;
    right: 1.15rem;
    height: 25px;
}

.block-search-form-block .form-submit,
.ui-autocomplete-field-group.ui-state-disabled.organisation-membre.ui-menu-item,
.ui-autocomplete-field-group.ui-state-disabled.member-organization.ui-menu-item{
    display: none;
}

.block-search-form-block .ui-widget-content {
    border: none;
}

.block-search-form-block ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: .7rem;
  opacity: .85; /* Firefox */
}


/*les organisations*/
.view-organisations {
    margin: 2rem auto;
}

.owl-page.active span,
.owl-buttons div:hover{
	background: var(--color3) !important;
}

.view-organisations .owl-item > div{
    padding: 0 100px;
    text-align: center;
	border-right: 1px solid #cdd1d8;
}

.view-organisations .owl-wrapper {
    background-color: var(--color6);
    padding: 2rem;
}

.view-organisations .views-field-title {
	margin: 0.5rem auto;
}

.view-organisations .views-field-title a {
    color: var(--color1);
    font-size: 1.25rem;
}

.view-organisations .views-field-body {
    text-align: justify;
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
}

.view-organisations .more-link {
    text-align: right;
    margin-right: 5%;
}

.view-organisations .more-link a{
    color: var(--color2);
    font-size: 1.6rem;
    font-weight: 600;
	text-decoration: underline;
}

li.sf-depth-1 ul{
	margin-top: 1.15rem !important;
}

.view-les-organisations .view-content.row .row > div {
    margin: 0 auto;
}

.block-views-blockles-organisations-block-1 {
    margin: 4rem 0 2rem 0;
}

.block-views-blockles-organisations-block-1 .owl-item {
    padding: 0 0.5rem;
}

.block-views-blockles-organisations-block-1 > h2 {
    text-align: center;
    font-size: 2.1875rem;
	font-weight: 500;
	color: var(--color6);
	font-family: 'Rubik';
	font-style: normal;
}

.block-views-blockles-organisations-block-3 {
    margin: 4rem 0 2rem 0;
}

.block-views-blockles-organisations-block-3 .view-header {
    text-align: center;
    margin: 1rem auto;
	color: var(--color6);
	font-size: 1.1875rem;
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 300;
}

.block-views-blockles-organisations-block-3 .owl-item {
    padding: 0 0.5rem;
}

.block-views-blockles-organisations-block-3 > h2 {
    text-align: center;
    font-size: 2.1875rem;
	font-weight: 500;
	color: var(--color6);
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
}

.block-views-blockles-organisations-block-3 .org_logo_title {
    height: 115px;
    background-color: var(--color4);
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_logo {
    display: inline-block;
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_logo img {
    max-width: 35px;
    margin: 0 auto;
}

.block-views-blockles-organisations-block-3 .org_logo_title .row {
    margin: 0;
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_sigle a{
    font-size: 1.15em !important;
	font-weight: 500;
	color: var(--color6);
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_title {
    display: inline-block;
    height: 115px;
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_logo > div,
.block-views-blockles-organisations-block-3 .org_logo_title .org_title > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
	padding: 0 0.5rem;
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_logo > div {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: 1px solid #a8a8a85e;
}

.block-views-blockles-organisations-block-3 .org_logo.col-3 a {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-views-blockles-organisations-block-3 .org_logo_title .org_title a {
    font-size: .8rem;
    color: var(--color5);
}

.path-frontpage .view-les-organisations.view-display-id-block_3{
	text-align: initial;
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .wrapping{
	box-shadow: none;
	background-color: var(--color4);
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .more-link a {
    color: var(--color3);
    display: inline-block;
    text-align: center;
    width: 275px;
    border: 1px solid var(--color3);
    border-radius: 45px;
    padding: 0.5rem 1.15rem;
    text-decoration: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size:1.05rem;
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .more-link a:hover {
	background-color: var(--color3);
	color: #fff;
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .owl-nav .owl-prev,
.path-frontpage .view-les-organisations.view-display-id-block_3 .owl-nav .owl-next{
	width: 50px;
    height: 50px;
    background-color: var(--color3);
    border-radius: 45px;
    color: #fff;
	position: absolute;
    top: 40%;	
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .owl-nav .owl-next{
	right: -.25rem;
}

.path-frontpage .view-les-organisations.view-display-id-block_3 .owl-nav .owl-prev {
    left: -.25rem;
}

.more-link {
    text-align: center;
    margin: 0.75rem auto;
}

.views-label.views-label-nothing {
    display: none;
}

/*liste organisations*/
.view-organisations.view-id-organisations.view-display-id-page_1 {
   /* margin: 0 5%;*/
    text-align: center;
}
.view-organisations .views-view-grid.horizontal .row {
	margin: 3.5rem auto;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.title {
	margin: 0.5rem auto;
	padding: 0 5rem;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.title a {
    color: var(--color1);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.view-organisations.view-id-organisations.view-display-id-page_1 div.descriptif{
    text-align: justify;
    color: var(--color5);
    font-size: 1rem;
    font-weight: 300;
	padding: 0 5rem;
}

.view-les-organisations {
	margin: .5rem 2%;
	text-align: center;
}

.path-frontpage .view-les-organisations {
	margin: .5rem 10%;
	text-align: center;
}


.view-les-organisations .page-link {
    border-radius: 0.5rem !important; 
	border: none !important;
	font-weight: 300 !important;
	margin:0 .12rem;
}

.view-les-organisations .page-item.active .page-link {
    background-color: #eecef !important;
	color: var(--color3) !important;
	font-weight: 500 !important;
}

.view-les-organisations li:hover .page-link{
    color: var(--color3) !important;
}

.view-les-organisations .page-link a{  
    border: none !important;
}

.view-les-organisations nav {
	display: inline-block;
	margin: 1.5rem auto;
}

.view-les-organisations .wrapping {
    box-shadow: rgb(208 208 208 / 75%) 0px 0px 15px;
   
    /* position: relative; */
    margin: 0.9rem 0;
}

.path-frontpage .view-les-organisations .wrapping {
    margin: 1.5rem 1rem;
}

.view-les-organisations .views-field-field-org-logo {
    position: relative;
    height: 250px;
    /* margin: 1.15rem 0; */
    background-color: #fff;
    /* padding: 1rem 0; */
}

.views-field.views-field-field-org-image-hero {
    overflow: hidden;
    max-height: 225px;
}

.view-les-organisations .views-field-field-org-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-width: 130px;
    max-height: 130px;
}

.view-les-organisations .views-field-title {
    padding: 0.6rem 1rem;
    height: 115px;
    background-color: var(--color1);
    overflow: hidden;
	position: relative;
}

.view-les-organisations .views-field-title .field-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.view-les-organisations .views-field-title a {
    font-size: 1rem;
    /*font-weight: 500; */
    text-transform: uppercase;
	color: #fff;
}

.view-les-organisations .views-field-title a:hover {
	color: var(--color3);
	text-decoration: none !important;
}

.view-les-organisations .views-field-body {
    padding: 0.5rem 0.5rem;
    font-weight: 300;
    color: var(--color1);
    background-color: #fff;
}

/*une organisation (node)*/
.node--type-organisation-membre header#header {
	min-height: 500px;
	height: 50vh;
	position: relative;
}

.node--type-organisation-membre h1 {
    font-size: 1.9rem !important;
}

.node--type-organisation-membre h2 {
    font-size: 1.7rem !important;
}

.node--type-organisation-membre .field--name-field-org-logo {
    position: absolute;
    top: -5rem;
    width: 150px;
    height: auto;
    background-color: #fff;
    height: 150px;
    border-radius: 150px;
    border: 6px solid #A8A8A8;
    left: 50%;
    transform: translate(-50%, 0);
}

.node--type-organisation-membre .field--name-field-org-logo img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
	max-width: 55%;
}

.node--type-organisation-membre #block-menuorganisationmembre {
    margin-top: 7rem;
	margin-bottom: 3rem;
	text-align: center;
	position: sticky;
    top: 0;
    z-index: 9999;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}

.node--type-organisation-membre #block-menuorganisationmembre,
.node--type-organisation-membre #block-panecom-bstrp-page-title,
.node--type-organisation-membre #presentation,
.node--type-organisation-membre #documents,
.node--type-organisation-membre #projets{
	padding-left: 1rem;
	padding-right: 1rem;
}

.node--type-organisation-membre #projets > h2,
.node--type-organisation-membre .view-id-projets.view-display-id-block_2{
    padding: 1rem;
}

.node--type-organisation-membre #projets{
	background-color: var(--color7);
}

.node--type-organisation-membre #block-menuorganisationmembre ul,
.node--type-organisation-membre #block-menuorganisationmembre li.nav-item {
    display: inline-block;
	background-color: var(--color11);
	padding: 0.5rem .2rem;
}

.node--type-organisation-membre #block-menuorganisationmembre ul{
    width: 100%;
	display: none;
}

.node--type-organisation-membre #block-menuorganisationmembre li.nav-item a{
	color: var(--color10);
	font-size: 1.05rem;
	font-weight: 500;
}

#views-bootstrap-documents-block-2 .wrapping {
	width: 93%;
	min-width: 93%;
	min-height: 485px;
}

.node--type-organisation-membre a.is-active,
.node--type-organisation-membre a.toscroll.nav-link:focus, 
.node--type-organisation-membre a.toscroll.nav-link:active {
    color: var(--color3) !important;
}

.node--type-organisation-membre .field--name-field-org-sigle .field__label::after {
    content: ":";
}

.node--type-organisation-membre .field--name-field-org-sigle{
	margin: 1rem 0 1rem 0;
}

.node--type-organisation-membre .field--name-field-org-sigle .field__item {
    font-weight: 500;
}

/*les projets d'une organisation*/
.node--type-organisation-membre .projets-org img{
	width: 100%;
}

.node--type-organisation-membre .projets-org legend {
	display: none;
}

.node--type-organisation-membre .projets-org{
	margin: 2rem auto;
}

.node--type-organisation-membre .projets-org .views-field-title a{
    font-size: 1.45rem;
	font-weight: 500;
	color: var(--color6);
	font-family: 'Rubik';
	font-style: normal;
}

.node--type-organisation-membre .projets-org .views-field-field-projet-date{
    font-size: 1rem;
	color: var(--color6);
	font-weight: 500;
	font-family: 'Rubik';
	font-style: normal;
	text-transform: capitalize;
	margin:1rem 0;
}

.node--type-organisation-membre .projets-org .views-field-body{
    font-size: 1rem;
	color: #2C2C2Caa;
	font-family: 'Rubik';
	font-style: normal;
}

/*documents d'une organisation*/
.node--type-organisation-membre #documents{
	margin: 4rem auto;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping {
	width: 93%;
	min-width: 93%;
	min-height: 485px;
    margin: 1.5rem auto;
    background-color: var(--color7);
    padding: 0;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping > div:first-child {
    padding: 1rem 1.15rem 0 0;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping > div {
    padding: 0 1rem .5rem 1.3rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .org_logo{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: 2px solid #a8a8a85e;
	position: relative;
	left: 1rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .org_logo a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping .row > div:first-child {
	padding-left: .5rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping .row > div:last-child {
    padding-left: 2rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f15c";
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: var(--color8);
    height: 100px;
    padding-top: 1rem;
    font-size: 2.75rem;
    color: var(--color9);
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .doc_title {
	font-size: 1.1rem;
	margin-bottom: .25rem;
	min-height: 6.2rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .desc_doc {
    color: #00000080;
	font-size: .92rem;
	min-height: 7rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .sigle_doc a {
    font-size: 1rem;
    color: var(--color9);
    margin-bottom: 0.5rem;
    display: inline-block;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f06e";
    font-size: 1.75rem;
    color: var(--color3);
	position: relative;
	top: .25rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier .field-content {
    display: inline-block;
    margin: 0 .85rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier-1::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f019";
    font-size: 1.75rem;
    color: var(--color3);
	position: relative;
	top: .25rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier .field-content a{
    color: var(--color6);
	font-size: 1rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier-1 .field-content a{
    color: var(--color6);
	font-size: 1rem;
}

.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .views-field-field-document-fichier-1 .field-content {
    display: inline-block;
    margin: 0 .85rem;
}

/* tabs onglets - mediatheque d'une organisation*/
.node--type-organisation-membre #mediatheque {
    position: relative;
	overflow-x: hidden;
	margin-top: 8rem;
	margin-bottom: 4rem;
}

.node--type-organisation-membre #mediatheque .field--type-image {
    margin: 0 0.5em 0 0.5em;
}

.node--type-organisation-membre #mediatheque .details-wrapper .field__label{
	display: none;
}

.node--type-organisation-membre #mediatheque details[open] summary{
	color: var(--color3);
	font-weight: 500;
}

.node--type-organisation-membre #mediatheque .horizontal-tabs .horizontal-tabs-list,
.node--type-organisation-membre #mediatheque .horizontal-tabs .horizontal-tab-button,
.node--type-organisation-membre #mediatheque .horizontal-tabs {
    border: none;
	background: none;
}

.node--type-organisation-membre #mediatheque h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.node--type-organisation-membre #mediatheque .details-wrapper {
    margin: 1.25rem auto;
}

.node--type-organisation-membre #mediatheque article,
.node--type-organisation-membre #mediatheque #edit-group-photos {
    margin: 2.5rem auto;
}

.node--type-organisation-membre #mediatheque .media-library-item__name {
    margin-bottom: 4rem;
}

.node--type-organisation-membre #mediatheque .field--type-entity-reference.field__items .node .field--type-image {
    float: left;
    margin: 0.5em 1em;
}

.node--type-organisation-membre #mediatheque .myButton img {
    min-width: 100%;
	width: 500px;
}

.node--type-organisation-membre #mediatheque .horizontal-tab-button {
    padding-bottom: 1px;
    width: 50%;
    margin: 1px 0 0 0;
}

.node--type-organisation-membre #mediatheque .horizontal-tab-button .node .field--type-image {
    float: left;
    margin: 1rem;
    width: 95%;
}

/*
.node--type-organisation-membre #mediatheque .view-header .field--name-body {
    margin-left: -1em;
    width: auto;
}

.node--type-organisation-membre #mediatheque .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: inline-block;
    width: 100%;
}*/

.node--type-organisation-membre #mediatheque .horizontal-tab-button {
	border: none;
    border-bottom: 2px solid var(--color6) !important;
    background-color: #fff;
}

.node--type-organisation-membre #mediatheque .horizontal-tab-button a{
    color: #2C2C2C;
	font-size: 1rem;
	padding-bottom: .15rem;
	font-weight: 300 !important;
	font-style: normal !important;
}

.node--type-organisation-membre #mediatheque .horizontal-tab-button.selected {
    border-bottom: 5px solid var(--color3) !important;
    background-color: #fff;
}

.node--type-organisation-membre #mediatheque .horizontal-tab-button.selected a{
    color: var(--color3);
	font-weight: 600 !important;
	padding-bottom: 0;
}

.node--type-organisation-membre #mediatheque .videoWrapper iframe {
    width: 90%;
    height: 90%;
}

/*Contact et localisation d'une organisation*/
.node--type-organisation-membre #contact {
    max-width: 40%;
    height: 550px;
    position: relative;
    padding-right: 5%;
    margin-left: 5%;
}

.node--type-organisation-membre #contact > div {
    margin: 1.1rem 0;
}

.node--type-organisation-membre #contact .social-media-links--platforms.platforms.vertical li {
    margin: 1rem 0;
}

.node--type-organisation-membre #localisation {
    max-width: 40%;
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
    margin-right: 5%;
}

.node--type-organisation-membre #localisation .leaflet-container {
    margin-top: 3.5rem;
    max-height: 450px;
}

/**/

.view-id-documents.view-display-id-block_2  .more-link a {
    color: var(--color3);
    display: inline-block;
    text-align: center;
    width: 265px;
    border: 1px solid var(--color3);
    border-radius: 45px;
    padding: 0.5rem 1.15rem;
    text-decoration: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size:1.05rem;
}

.view-id-documents.view-display-id-block_2 .more-link a:hover {
	background-color: var(--color3);
	color: #fff;
}

/***/
.path-frontpage .view-les-organisations.view-display-id-block_3 .wrapping {
    box-shadow: none;
    background-color: var(--color4);
}
.path-frontpage .view-les-organisations .wrapping {
    margin: 1.5rem 1rem;
}
.view-les-organisations .wrapping {
    box-shadow: rgb(208 208 208 / 75%) 0px 0px 15px;
    /* position: relative; */
    margin: 0.9rem 0;
}

/******* les actualités **************/
.slick_actu {
    background-color: var(--color7);
    padding: 0;
    margin: 6rem -15px 10rem -15px;
    position: relative;
	overflow-x: hidden;
}

.node--type-organisation-membre .slick_actu {
    background-color: #fff;
}

.slick_actu .owl-carousel .owl-item img {
    width: auto;
}

.slick_actu .views-field-field-org-logo {
    display: inline-block;
}

.slick_actu .views-field-field-org-logo img {
    max-width: 35px;
    margin: 0 auto;
}

.slick_actu .views-field-field-org-sigle {
    margin: 0.25rem !important;
}

.slick_actu .view-header {
    text-align: center;
	color: var(--color6);
	font-size: 1.1875rem;
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 300;
	margin: 1rem auto 3rem auto;
}

.slick_actu > h2 {
    text-align: center;
    font-size: 2.1875rem;
	font-weight: 500;
	color: var(--color6);
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	padding: 1.25rem 0 .15rem 0;
}

.node--type-organisation-membre .slick_actu > h2 {
    text-align: unset;
	padding: 1.25rem 0 .15rem 11%;
}

.slick_actu .more-link {
    text-align: center;
    margin: 0.75rem auto;
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick_actu .more-link a {
    color: var(--color3);
    display: inline-block;
    text-align: center;
    width: 265px;
    border: 1px solid var(--color3);
    border-radius: 45px;
    padding: 0.5rem 1.15rem;
    text-decoration: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size:1.05rem;
}

.slick_actu .more-link a:hover {
	background-color: var(--color3);
	color: #fff;
}

.slick_actu .owl-stage{
	height: 500px;
	width: 100%;
	text-align: center;
}

.slick_actu .slick-slide .views-label-field-image-1,
.slick_actu .slick-slide .small-img{
    display: none;
}

.slick_actu .slick-slide .wrapping > div{
	display: none;
}

.slick_actu .slick-slide .wrapping > div.views-field-field-image,
.slick_actu .slick-slide.slick-current.slick-active .wrapping > div{
	display: block !important;
	text-align:center;
	margin: 0 auto;
}

.slick_actu .slick-slide.slick-current.slick-active .wrapping>div.views-field.views-field-body {
    display: none !important;
}

.slick_actu .slick-slide .wrapping > div .field-content {
    display: inline-block;
}

.slick_actu .slick-slide .views-field-field-image img {
    max-width: 100%;
    max-height: 460px;
    width: 2000px;
    padding: 0 2.5%;
}

.slick_actu  .classeligne > .wrapping {
    max-height: initial;
}

.slick_actu .slick-slide .views-field-fieldset {
	background-color: #fff;
    width: 75%;
    position: relative;
    top: -4rem;
    padding: 2.5% 10%;
    text-align: center;
    min-height: 100px;
}

.slick_actu .slick-slide .views-field-title {
	
}

.slick_actu .slick-slide .views-field-title-1 {
	margin: .25rem auto !important;
}

.slick_actu .slick-slide .views-field-title-1 a {
    font-size: .75rem;
    color: var(--color5);
}

.slick_actu .slick-slide .views-field-title a {
    font-size: .85rem;
    color: var(--color5);
}

.slick_actu .slick-slide .views-field-body{
    font-size: 1rem;
    color: var(--color6);
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 300;
}

.slick_actu .slick-slide .views-field-field-org-logo {
}

.slick_actu .slick-slide .views-field-field-org-logo > div {
    background-color: #fff;
    /*height: 45px;*/
    width: 45px;
    border-radius: 45px;
    /*border: 1px solid #a8a8a85e;*/
}

.slick_actu .slick-slide .views-field-field-org-logo > div img {
    max-width: 45px;
	position: relative;
    top: .35rem;
}

.slick_actu .slick-dots {
    position: absolute;
    bottom: 8px;
}

.slick_actu .slick-dotted.slick-slider {
    margin-bottom: 0;
    max-height: 320px;
	overflow: hidden;
}

.slick_actu .slick-dots li button {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.slick_actu .slick-dots li button:hover {
    background: #869791;
}

.slick_actu .slick-dots li button:before {
    content: '';
}

.slick_actu .owl-prev {
    width: 50px;
    height: 50px;
    background-color: var(--color3);
    border-radius: 45px;
    color: #fff;
    position: absolute;
    bottom: -40px;
    left: 37%;
	z-index:2;
}


.slick_actu .owl-next {
    width: 50px;
    height: 50px;
    background-color: var(--color3);
    border-radius: 45px;
    color: #fff;
    position: absolute;
    bottom: -40px;
    right: 37%;
	z-index:2;	
}

.slick_actu .slick-list.draggable {
    margin-bottom: 2rem;
}

/*
.slick_actu .owl-item.active:nth-child(1) .views-field-field-image, .slick_actu .owl-item.active:nth-child(3) .views-field-field-image{
    height: 480px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-65%, 10px);
}

.slick_actu .owl-item.active:nth-child(3) .views-field-field-image{
    right: 0;
    left: initial;
	transform: translate(65%, 10px);
}


.slick_actu .owl-item.active:nth-child(2) .views-field-field-image{
    width: 100% !important;
    transform: translate(0%, 0%);
}
*/

/* tabs onglets projets x documents en page d'accueil*/
#block-tabsongletsprojetsxdocuments {
    position: relative;
	overflow-x: hidden;
}

.block-field-blockblock-contentblock-tabs-onglets-projets-x-docfield-tabs-projets .field--type-viewfield .field__label,
.block-field-blockblock-contentblock-tabs-onglets-projets-x-docfield-tabs-documents .field--type-viewfield .field__label,
.block-field-blockblock-contentblock-tabs-onglets-projets-x-docfield-tabs-projets > h2,
.block-field-blockblock-contentblock-tabs-onglets-projets-x-docfield-tabs-documents > h2{
	display: none;
}

#block-tabsongletsprojetsxdocuments .ui-widget.ui-widget-content,
#block-tabsongletsprojetsxdocuments .ui-widget-header {
    border: none;
	background: none;
}

#block-tabsongletsprojetsxdocuments .ui-tabs .ui-tabs-nav li.ui-tab {
    margin-bottom: -1px;
    padding-bottom: 1px;
    width: 50%;
}

#block-tabsongletsprojetsxdocuments .ui-tabs .ui-tabs-nav li.ui-tab {
    margin: 1px 0 0 0;
}

#block-tabsongletsprojetsxdocuments .view-header .field--name-body {
    margin-left: -1em;
    width: auto;
}

#block-tabsongletsprojetsxdocuments .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: inline-block;
    width: 100%;
}

#block-tabsongletsprojetsxdocuments li.ui-tabs-tab.ui-tab {
	border: none;
    border-bottom: 2px solid var(--color6);
    background-color: #fff;
}

#block-tabsongletsprojetsxdocuments li.ui-tabs-tab.ui-tab a{
    color: #2C2C2C;
	font-size: 1rem;
	padding-bottom: .15rem;
	font-weight: 300;
}

#block-tabsongletsprojetsxdocuments li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    border-bottom: 5px solid var(--color3);
    background-color: #fff;
}

#block-tabsongletsprojetsxdocuments li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a{
    color: var(--color3);
	font-weight: 600;
	padding-bottom: 0;
}

/** onglet projets récents**/
#views-bootstrap-projets-block-3 > .row > div > .wrapping{
	position: relative;
}

#views-bootstrap-projets-block-3 > .row > div{
	margin: 1rem 0;
}

.view-id-projets.view-display-id-block_3 .views-field-fieldset {
    background-color: #00000067;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 5%;
    margin: 0;
    height: 110px;
}

.view-id-projets.view-display-id-block_3 .other-except-image {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    width: 100%;
}

.view-id-projets.view-display-id-block_3 .views-field-field-projet-photos img{
    width: 100%;
}

.view-id-projets.view-display-id-block_3 .other-except-image .projet_title {
    width: 85%;
}

.view-id-projets.view-display-id-block_3 .other-except-image .projet_title a{
    font-size: 1rem;
	font-weight: 500;
	font-style: normal;
}

.view-id-projets.view-display-id-block_3 .other-except-image,
.view-id-projets.view-display-id-block_3 .other-except-image a {
    color: #fff;
	font-weight: 300;
	font-size: .85rem;
	font-style: italic;
}

.view-id-projets.view-display-id-block_3 .other-except-image .org_logo {
    position: relative;
}

.view-id-projets.view-display-id-block_3 .other-except-image .org_logo a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.view-id-projets.view-display-id-block_3 .other-except-image .projet_date{
    text-transform: capitalize;
}


.view-id-projets.view-display-id-block_3 .more-link {
    text-align: center;
    margin: 0.75rem auto;
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.view-id-projets.view-display-id-block_3 .more-link a {
    color: var(--color3);
    display: inline-block;
    text-align: center;
    width: 265px;
    border: 1px solid var(--color3);
    border-radius: 45px;
    padding: 0.5rem 1.15rem;
    text-decoration: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size:1.05rem;
}

.view-id-projets.view-display-id-block_3 .more-link a:hover {
	background-color: var(--color3);
	color: #fff;
}

.view-id-projets.view-display-id-block_3 .other-except-image .org_logo{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: 2px solid #a8a8a85e;
	position: relative;
}

.view-id-projets.view-display-id-block_3 .other-except-image .org_logo a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

/*onglet documents récents*/
#views-bootstrap-documents-block-2 .wrapping {
    margin: 1.5rem auto;
    background-color: var(--color7);
    padding: 0;
}

#views-bootstrap-documents-block-2 .wrapping > div:first-child {
    padding: 1rem 1.15rem 0 0;
}

#views-bootstrap-documents-block-2 .wrapping > div {
    padding: 0 1rem .5rem 1rem;
}

#views-bootstrap-documents-block-2 .org_logo{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 45px;
    border: 2px solid #a8a8a85e;
	position: relative;
	left: 1rem;
}

#views-bootstrap-documents-block-2 .org_logo a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#views-bootstrap-documents-block-2 .wrapping .row > div:first-child {
	padding-left: .5rem;
}

#views-bootstrap-documents-block-2 .wrapping .row > div:last-child {
    padding-left: 2rem;
}

#views-bootstrap-documents-block-2 .wrapping::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f15c";
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: var(--color8);
    height: 100px;
    padding-top: 1rem;
    font-size: 2.75rem;
    color: var(--color9);
}

#views-bootstrap-documents-block-2 .doc_title {
	font-size: 1.1rem;
	margin-bottom: .25rem;
	min-height: 6.2rem;
}

#views-bootstrap-documents-block-2 .desc_doc {
    color: #00000080;
	font-size: .92rem;
	min-height: 7rem;
}

#views-bootstrap-documents-block-2 .sigle_doc a {
    font-size: 1rem;
    color: var(--color9);
    margin-bottom: 0.5rem;
    display: inline-block;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f06e";
    font-size: 1.75rem;
    color: var(--color3);
	position: relative;
	top: .25rem;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier .field-content {
    display: inline-block;
    margin: 0 .85rem;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier .field-content a{
    color: var(--color6);
	font-size: 1rem;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier-1 .field-content a{
    color: var(--color6);
	font-size: 1rem;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier-1::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f019";
    font-size: 1.75rem;
    color: var(--color3);
	position: relative;
	top: .25rem;
}

#views-bootstrap-documents-block-2 .views-field-field-document-fichier-1 .field-content {
    display: inline-block;
    margin: 0 .85rem;
}

.view-id-documents.view-display-id-block_2  .more-link a {
    color: var(--color3);
    display: inline-block;
    text-align: center;
    width: 265px;
    border: 1px solid var(--color3);
    border-radius: 45px;
    padding: 0.5rem 1.15rem;
    text-decoration: none;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size:1.05rem;
}

.view-id-documents.view-display-id-block_2 .more-link a:hover {
	background-color: var(--color3);
	color: #fff;
}

/* Team - l'équipe*/
#block-blockteam {
    margin: 5rem -15px 0 -15px;
	overflow-x: hidden;
}

#block-blockteam .field--name-body {
    width: auto;
}

#block-blockteam .field--name-body p:first-child {
    font-size: 1.75rem;
	font-weight: 500;
	color: var(--color6);
	font-family: 'Rubik';
	font-style: normal;
}

#block-blockteam .block-views-blockpersonnes-cles-block-2 {
    padding: 5rem 5% 6rem 5%;
}

#block-blockteam .block-views-blockpersonnes-cles-block-2 .wrapping {
    margin: 12% 5%;
    background-color: #fff;
    padding: 5%;
    box-shadow: 0 0 15px 2px #d9d9d982;
	height: 430px;
}

#views-bootstrap-personnes-cles-block-2 {
    text-align: center;
	margin-top: 6rem;
}

#views-bootstrap-personnes-cles-block-2 .views-field-field-personne-photo img {
    max-width: 40%;
    height: auto;
    border-radius: 90px;
}

#views-bootstrap-personnes-cles-block-2 .views-field-field-personne-photo {
    position: relative;
    top: -20%;
}

#views-bootstrap-personnes-cles-block-2 .views-field-title {
    position: relative;
    top: -10%;
	font-size: 1.05rem;
	color: var(--color6);
}

#views-bootstrap-personnes-cles-block-2 .views-field-field-personne-fonction {
    position: relative;
    top: -8%;
	color: var(--color1);
	font-style: italic;
	font-size: 1.05rem;
	font-weight: 500;
}

#views-bootstrap-personnes-cles-block-2 .views-field-field-org-logo {
    margin: 0.25rem;
}

#views-bootstrap-personnes-cles-block-2 .views-field-body {
	color: var(--color6);
	font-size: .95rem;
	font-weight: 300;
}

#views-bootstrap-personnes-cles-block-2 > .row > div:nth-of-type(even) .wrapping  {
  margin-top: 5rem;
}

/*En chiffres - compteur*/
#block-quelquechiffres {
    margin: 0 -15px;
	overflow-x: hidden;
}

#views-bootstrap-counters-block-1 {
    text-align: center;
    margin: 0 auto;
}

#views-bootstrap-counters-block-1 .wrapping {
    margin: 4rem 1rem;
	color: #fff;
	text-align: center;
}

#views-bootstrap-counters-block-1 .highlight-count {
    font-size: 4.125rem;
}

#views-bootstrap-counters-block-1 .highlight.organisation_membre {
    min-width: 250px;
}

#views-bootstrap-counters-block-1 .highlight-type {
    margin: 0 .75rem;
}

#views-bootstrap-counters-block-1 .highlight-icon {
	font-size: 1.2rem;	
}

#views-bootstrap-counters-block-1 > .row > div:nth-child(2) .wrapping  {
  margin-left: 1rem;
}

/*Partenaires*/
#block-views-block-partenaires-block-1 {
	padding: 9rem 5% 5rem 5%;
}

#views-bootstrap-partenaires-block-1 {
    width: 100%;
}

#views-bootstrap-partenaires-block-1 .views-field.views-field-title {
    margin: 1rem auto;
	font-size: 1.31rem;
	font-weight: 400;
}

#views-bootstrap-partenaires-block-1 .views-field.views-field-field-partenaire-siteweb {
    background-color: var(--color12);
    height: 120px;
    width: 120px;
    border-radius: 120px;
    border: 1px solid #a8a8a85e;	
	position: relative;
	margin: 0 auto;
}

#views-bootstrap-partenaires-block-1 .views-field.views-field-field-partenaire-siteweb .content img {
    max-width: 80%;
}

#views-bootstrap-partenaires-block-1 .views-field.views-field-field-partenaire-siteweb div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#views-bootstrap-partenaires-block-1 .wrapping {
    margin: 4rem auto;
    text-align: center;
}

#block-views-block-partenaires-block-1 h2 {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color6);
    font-family: 'Rubik';
    font-style: normal;
}

#block-views-block-partenaires-block-1 .field.field--name-body {
    color: var(--color6);
	font-weight: 300;
}

/*Footer*/
#block-blockfooter {
    width: 100%;
	color: #fff;
	padding: 0 7%;
}

#block-copyright {
    width: 275px;
	margin: 0 auto;
}

.site-footer .content,
#block-blockfooter h2,
#block-blockfooter span,
#block-blockfooter a{
	color: #fff;
}

#block-blockfooter ._none:first-child .layout > div{
	text-align: center;
}

#block-blockfooter ._none:first-child a.navbar-brand{
	font-size: 1.35rem;
}


#block-blockfooter ._none:first-child a img {
    position: relative;
    top: 0.15rem;
}

.site-footer .content {
    font-size: 1.1rem;
}

.site-footer .field--name-body {
    font-size: 1rem;
    text-align: center;
    margin: .25rem auto;
}

.site-footer__top .content li a,
.site-footer__top h2 {
    border: none; 
}

.site-footer__top h2 {
    font-size: 1.25rem; 
	text-transform: unset;
}

.site-footer .block {
    border: none; 
	margin: 0;
	padding: 0;
}

.site-footer__top .content .menu--acces-rapide {
	margin-top: 3rem;
}
	
.site-footer .menu--nous-suivre- {  
    font-size: 1.65rem;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.site-footer .menu--nous-suivre- ul{
    margin-left: .6rem;
}

.site-footer .menu--nous-suivre- li {
	display: inline-block;
	margin: 0 1.5rem
}
.site-footer .menu--nous-suivre- li a{
	padding-top: 5px;
	padding-bottom: 0;
}

.site-footer__top .content .menu--acces-rapide li a {
    padding-left: 1rem;
}

.site-footer__top .content li a:hover, .site-footer__top .content li a:focus {
    background-color: transparent;	
}

.site-footer__top h2 {
    margin: 13px 0 5px 0; 
}

.site-footer h2::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #fff;
    width: 31px;
	margin: 10px 0 10px 0;
}

.site-footer__top .region {
    width: 100% !important;
}

section.row.region.region-footer-first {
    margin: 0 auto;
}

.layout-builder__section .navbar-brand {

    font-size: 1.05rem;

    color: #000;
   
    background-color: #d2cdcd;
    padding: 2rem;
    display: inline-block;
    width: 20%;
}

.site-footer .nav-link.nav-link-,
.site-footer .content ol:not(.menu), .site-footer .content ul:not(.menu) {
    padding-left: 0;
}

.site-footer .nav{
    display: block;
}



/* ############################## */
/* ####### Breakpoints media queries  */
/* ############################## */
/* Extra extra small devices (portrait phones, less than 320px: galaxy fold)*/
@media (max-width: 319.98px) {

	#block-languagedropdownswitcher {
		margin: 0;
	}
	
	#navbar-main {
		padding: 15px 0 0 3%;
	}
	
	/*A propos text*/
	#block-apropos {
		font-size: .9rem;
	}
	
	.path-frontpage header#header {
		height: 115vh;
		
	}
	
	.block-search-form-block input {
		width: 230px;
		height: 45px;
	}
	
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 575.98px) {
	
	
	#block-languagedropdownswitcher {
		margin: 0;
	}
	
	#navbar-main {
		padding: 15px 0 0 3%;
	}
	
	/*A propos text*/
	#block-apropos {
		font-size: .9rem;
	}
	
	header#header {
		height: 115vh;
		
	}	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	

	
}

/*pour les "moyens et grands" écrans*/
@media (min-width: 992px) and (max-width: 1199.98px){
	
	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.05rem;
	}
	
	#block-navigationprincipale ul.sf-menu > li:first-child.sf-depth-1 > a{
		display: none !important; 
	}		
}

/*pour les "moyens et grands" écrans*/
@media (min-width: 992px){
	
	/** special Organisation breadcrumb**/
	#block-breadcrumbs {
		display: block;
		width: 100%;
	}
	
	/** special Organisation breadcrumb**/
	#block-breadcrumbs .breadcrumb{
		background-color: transparent;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		margin-left: 2rem;
	}
	
	#block-breadcrumbs a,
	#block-breadcrumbs li{
		color: #fff;
		font-size: 1rem;
	}
	
	#block-copyright {
		position: absolute;
		bottom: 0;
		right: 10%;
	}
	
	.site-footer .menu--nous-suivre- {
		margin-left: 7rem;
		margin-top: unset;
	}

	.site-footer__top .content .menu--acces-rapide {
		margin-left: 7rem;
		margin-top: unset;
	}
	
	.site-footer .field--name-body {
		width: 70%;
		margin: 2rem auto;
	}
	
	._none.block.block-superfish.block-superfishacces-rapide {
		margin-left: 20%;
	}

	._none.block.block-superfish.block-superfishnous-suivre-{
		margin-left: 20%;
	}

	header#header #CollapsingNavbar.collapse:not(.show) {
		display: none;
	}
	
	#block-navigationprincipale {
		padding: 1rem 0 1rem 1rem !important;
		display: block;	
	}

	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.1rem;
		color:#fff;
		font-weight: 300;
	}

	#block-navigationprincipale ul.sf-menu > li{
		margin:0rem;  
	}

	#block-navigationprincipale ul.sf-menu span.nolink {
		padding: 1em 1.75em;
	}

	#block-navigationprincipale ul.sf-menu li{
	   color: #fff;    
	}

	.navbar-toggler{
		display: none !important;
	}

	#block-navigationprincipale ul.sf-menu >li > a.is-active,
	#block-navigationprincipale ul.sf-menu > li:hover > a{
		text-decoration: underline;
		text-underline-position: under;
		text-decoration-color: var(--color3) !important;
		font-weight: 500;
		text-decoration-thickness: 0.2rem;
	}

	#block-navigationprincipale ul.sf-menu li ul{
		width: 17rem !important;
		background-color: var(--color1);
	}

	#block-navigationprincipale ul.sf-menu li ul li a{
		font-size: 1.05rem !important;
		border-left: solid transparent .15rem;
	}

	#block-navigationprincipale ul.sf-menu li ul li:hover a{
	   /* color: initial !important;*/
	   border-left: solid var(--color3) .15rem;
	   font-weight: 400;
	   text-decoration: none;
	}

	ul.sf-menu .sf-sub-indicator::after {
		font-family: "Font Awesome 5 Free"; 
		font-weight: 700; 
		content: "\f0dd";
	}

	ul.sf-menu .sf-sub-indicator {
		height: auto;
		line-height: normal;
	}
	
	#block-panecom-bstrp-account-menu {
	    position: absolute;
		right: 110px;
	}
	
	#block-languagedropdownswitcher {
		position: absolute;
		right: 20px;
		margin: 1rem 2rem 0 2rem;
	}
	
	
	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.05rem;
	}
	
	#block-apropos h1 {
		font-size: 1.5rem;
	}
	
	/*A propos text*/
	#block-apropos {
		position: absolute;
		top: 0;
		left: 10%;
		margin-top: 150px;
		width: 50%;
		font-size: 1.35rem;
	}
	
	/*recherche searchbox*/
	.block-search-form-block{
		position: absolute;
		top: 0;
		left: 10%;
		margin-top: 450px;
		max-width: 100%;
		color: #fff;
		font-size: 1.25rem;
		font-weight: 300;
		padding-left: 0;
	}
	
	.block-search-form-block input {
		width: 465px;
	}
	
	.block-search-form-block ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  font-size: 1.05rem;
	  font-weight: 500;
	}
	
	.block-search-form-block ul:not(.contextual-links) a{
		font-size: .75rem;
	}
	
	.block-views-blockles-organisations-block-3 .view-header {
		max-width: 50%;
	}
	
	.slick_actu  .view-header {
		max-width: 50%;
	}
	
	.slick_actu {
		padding: 3.5rem 0;
		margin: 6rem -15px 4rem -15px;
		overflow-x: unset;
	}
	
	.slick_actu .slick-slide.slick-current.slick-active .wrapping>div.views-field.views-field-body {
		display: block !important;
	}
	
	.slick_actu .slick-slide .views-field-fieldset {
		width: 65%;
		min-height: 500px;
		position: relative;
		top: -8rem;
	}
	
	.node--type-organisation-membre .slick_actu .slick-slide .views-field-fieldset {
		min-height: 250px;
		box-shadow: 0 0 12px 8px #0527391c;
	}
	
	.node--type-organisation-membre .slick_actu {
		padding: 1.5rem 0;
		margin: 2rem -15px 1rem -15px;
		overflow-x: unset;
	}
	
	.node--type-organisation-membre .slick_actu .slick-list.draggable {
		margin-bottom: 0;
	}
	
	.slick_actu .slick-dots {
		position: absolute;
		bottom: -25px;
	}
	
	.node--type-organisation-membre .slick_actu .slick-dots {
		position: absolute;
		bottom: 10px;
	}
	
	.node--type-organisation-membre .slick_actu .owl-next,
	.node--type-organisation-membre .slick_actu .owl-prev	{
		bottom: 0;
	}	
	
	.slick_actu .slick-dotted.slick-slider {
		margin-bottom: 30px;
		max-height: unset;
		overflow: unset;
	}
	
	.slick_actu  .classeligne > .wrapping {
		max-height: 570px;
	}
	
	.slick_actu .slick-slide .views-field-title a {
		font-size: 1.15rem;
	}
	
	.slick_actu .slick-slide .views-field-title-1 {
		margin: .75rem auto !important;
	}

	.slick_actu .slick-slide .views-field-title-1 a {
		font-size: 1rem;
		color: var(--color5);
	}
	
	#block-tabsongletsprojetsxdocuments .view-header .field--name-body{
		width: auto;
	}
	
	#block-tabsongletsprojetsxdocuments li.ui-tabs-tab.ui-tab a{
		font-size: 2rem;
	}
	
	#block-tabsongletsprojetsxdocuments {
		padding: 8rem 10% 4rem 10%;
	}
	
	.node--type-organisation-membre #mediatheque .view-header .field--name-body{
		width: auto;
	}
	
	.node--type-organisation-membre #mediatheque .horizontal-tab-button a{
		font-size: 1.5rem;
	}
	
	.node--type-organisation-membre #mediatheque {
		padding: 8rem 5% 4rem 5%;
	}
	
	.view-id-projets.view-display-id-block_3 .other-except-image .wrapping .row > div:last-child {
		margin-left: -1.5rem;
	}
	
	.view-id-projets.view-display-id-block_3 .other-except-image .projet_title a {
		font-size: 1.15rem;
	}
	
	#block-blockteam .block-views-blockpersonnes-cles-block-2 .wrapping {
		margin: 0 5%;
	}

	#block-blockteam .field--name-body {
		width: 50%;
	}
	
	#block-blockteam .field--name-body p:first-child {
		font-size: 2.1875rem;
	}
	
	#views-bootstrap-counters-block-1 .wrapping {
		margin: 4rem 6rem;
	}
	
	.node--type-organisation-membre #block-menuorganisationmembre,
	.node--type-organisation-membre #block-panecom-bstrp-page-title,
	.node--type-organisation-membre #presentation,
	.node--type-organisation-membre #documents,
	.node--type-organisation-membre #projets{
		padding-left: 10%;
		padding-right: 10%;
	}

	.node--type-organisation-membre #projets{
		background-color: var(--color7);
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 3rem;
		padding-bottom: 3rem;
		overflow-x: hidden;
	}
	
	.node--type-organisation-membre .projets-org:nth-of-type(odd) .views-field-fieldset{
		order: 1;
		padding-right: 1rem;
	}

	.node--type-organisation-membre .projets-org:nth-of-type(odd) .views-field-fieldset-1{
		order: 2;
		padding-left: 1rem;
	}

	.node--type-organisation-membre .projets-org:nth-of-type(even) .views-field-fieldset{
		order: 2;
		padding-left: 1rem;
	}

	.node--type-organisation-membre .projets-org:nth-of-type(even) .views-field-fieldset-1{
		order: 1;
		padding-right: 1rem;
	}

	.node--type-organisation-membre .projets-org > .wrapping {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 15px 0 15px;
	}

	.node--type-organisation-membre .projets-org .views-field-fieldset,
	.node--type-organisation-membre .projets-org .views-field-fieldset-1 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	
	.node--type-organisation-membre .view-documents .form-actions {
		position: relative;
		top: -1.65rem;
	}
	
	.node--type-organisation-membre #mediatheque {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.node--type-organisation-membre #mediatheque .field--type-entity-reference.field__items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 4rem 15px;
	}

	.node--type-organisation-membre #mediatheque .field--type-entity-reference.field__items > .field__item{
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	
	.node--type-organisation-membre #mediatheque #edit-group-photos {
		margin: 1.5rem auto;
	}
	
	.node--type-organisation-membre #mediatheque article{
		margin: 0 auto;
	}
	
}

/*pour les trés "grands" écrans uniquement*/
@media (min-width: 1200px) and (max-width: 1399.98px){
	
	
	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.05rem;
	}

}

/*pour les "moyens et grands" écrans*/
@media (min-width: 1200px){

	/*A propos text*/
	#block-apropos {
		position: absolute;
		top: 0;
		left: 10%;
		margin-top: 165px;
		width: 50%;
		font-size: 1.4rem;
	}
	
	/*recherche searchbox*/
	.block-search-form-block{
		position: absolute;
		top: 0;
		left: 10%;
		margin-top: 450px;
		max-width: 100%;
		color: #fff;
		font-size: 1.25rem;
		font-weight: 300;
	}
	
	#views-bootstrap-documents-block-2 .wrapping > div {
		padding: 0 0 1.15rem 1rem;
	}
	
    #block-menuorganisationmembre ul{
		display: block !important;
	}
	
	.node--type-organisation-membre #block-menuorganisationmembre li.nav-item a {
		font-size: .85rem;
	}

}

/*pour les plus "grands" écrans uniquement*/
@media (min-width: 1400px) and (max-width: 1599.98px){

}

@media (min-width: 1400px) {
	
	.path-frontpage header#header {
		min-height: 700px;
		height: 100vh;
		position: relative;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
				clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
	}
	
	#block-panecom-bstrp-account-menu .nav-link {
		width: 13.1rem;
	}
	
	#block-panecom-bstrp-account-menu .nav-link span{
		padding: 0 .25rem;
		display: inline-block;
	}
	
	#block-navigationprincipale ul.sf-menu > li{
		margin:0 .15rem;  
	}

	#block-navigationprincipale ul.sf-menu span.nolink {
		padding: 1em 1.6em;
	}
	
	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.05rem;
	}
	
	/*recherche searchbox*/
	.block-search-form-block{
		position: absolute;
		top: 0;
		left: 15%;
		margin-top: 540px;
		max-width: 100%;
		color: #fff;
		font-size: 1.25rem;
		font-weight: 300;
	}
	
	.block-search-form-block input {
		width: 550px;
		display: inline-block;
		height: 60px;
		border-radius: 45px;
		padding-left: 1.5rem;
	}

	.search-block-form form fieldset::after {
		background-color: var(--color3);
		width: 50px;
		height: 50px;
		content: "";
		display: inline-block;
		border-radius: 45px;
		position: absolute;
		top: 0.5rem;
		right: .85rem;
	}

	.search-block-form form::after {
		color: #fff !important;
		content: "\f002";
		font-family: "Font Awesome 5 Free";
		font-weight: 600;
		color: var(--krowd-theme-color-second);
		font-size: 1.67rem;
		position: absolute;
		top: .85rem;
		display: inline-block;
		right: 1.35rem;
		height: 25px;
	}
	
	#views-bootstrap-documents-block-2 .wrapping > div {
		padding: 0 1rem 1.15rem 1.3rem;
	}
	
	.node--type-organisation-membre div[id^="views-bootstrap-documents-block-3"] .wrapping > div {
		padding: 0 1rem 1.15rem 1.3rem;
	}
	
	.node--type-organisation-membre #block-menuorganisationmembre li.nav-item a {
		font-size: 1.05rem;
	}
	
}

/*pour les plus "grands" écrans uniquement*/
@media (min-width: 1500px) {
	
	#block-panecom-bstrp-account-menu .nav-link {
		width: 14rem;
	}
	
	#block-navigationprincipale ul.sf-menu > li{
		margin:0 .4rem;  
	}

	#block-navigationprincipale ul.sf-menu span.nolink {
		padding: 1em 1.6em;
	}
	
	#navbar-main {
		padding: 0 0 0 6%;
		
	}
	
	#navbar-main .navbar-collapse{
		 background-color: transparent !important;
		 padding: 0 .5rem ;
	}

	#block-languagedropdownswitcher {
		margin: 1rem 2rem 0 2rem;
		z-index: 1;
	}
	
	#block-navigationprincipale .menu span.nolink,
	#block-navigationprincipale .menu a {
		font-size: 1.1rem;
	}
	
	/*A propos text*/
	#block-apropos {
		position: absolute;
		top: 0;
		left: 15%;
		margin-top: 190px;
		width: 45%;
		font-size: 1.55rem;
	}

	#block-apropos h1 {
		font-size: 3.125rem;
		margin-bottom: 1.5rem;
	}
	
	
}